@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">List of Products new update</h1>
    @foreach (var item in Model.Products)
    {
        @item.ProductName
    }
</div>
